<ng-container *rxLet="dataState$; let dataState ">
  <div class="data--container mat-elevation-z8">
    <div class="data--loading-shade" *ngIf="dataState.status==='loading'">
      <mat-spinner *ngIf="dataState.status==='loading'"></mat-spinner>
    </div>

    <div class="data--table-container">
      <table mat-table [dataSource]="dataState.filteredData" class="data--table" matSort
        (matSortChange)="handleSortData($event)">
        <ng-container *ngFor="let column of dataState.displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef>
            <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> -->
            <app-column-filter [column]="column" [formControl]="filterFormControls[column]"></app-column-filter>
          </th>
          <td mat-cell *matCellDef="let row">{{ column === 'account' ? (row[column] | numberAuto) : row[column]}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="dataState.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: dataState.displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="dataState.total" [pageSize]="dataState.limit"
      aria-label="Select page" (page)="handlePageEvent($event)"></mat-paginator>
  </div>
  <div>{{filters$ | async | json}}</div>
</ng-container>